openapi: "3.0.3"
info:
  title: "CrystalCall API"
  description: "Backend for CrystalCall"
  version: "1.0.0"
servers:
  - url: "https://crystalcall-server.daimones.xyz"
paths:
  /login:
    post:
      tags:
        - Authentication & Authorisation
      summary: Logs in users.
      description: Logs in users.
      produces:
        - application/json
      parameters:
        - in: formData
          name: email
          description: Email of the user
          required: true
          type: string
        - in: formData
          name: password
          description: Password of the user
          required: true
          type: string
      responses:
        200:
          description: OK
        400:
          description: Bad request
  /signup:
    post:
      tags:
        - Authentication & Authorisation
      summary: Register users.
      description: Creates new users.
      produces:
        - application/json
      parameters:
        - in: formData
          name: email
          description: Email of the user
          required: true
          type: string
        - in: formData
          name: firstName
          description: First name of the user
          required: true
          type: string
        - in: formData
          name: lastName
          description: Last name of the user
          required: true
          type: string
        - in: formData
          name: password
          description: Password of the user
          required: true
          type: string
      responses:
        201:
          description: Created
        400:
          description: Bad request
  /google-callback:
    post:
      tags:
        - Authentication & Authorisation
      summary: Callback endpoint for google oauth webhook.
      description: Exchanges auth code for access/refresh tokens.
      produces:
        - application/json
      parameters:
        - in: formData
          name: code
          description: Authorisation code
          required: true
          type: string
        - in: formData
          name: clientId
          description: Client ID for the application.
          required: true
          type: string
        - in: formData
          name: clientSecret
          description: Client Secret for the application.
          required: true
          type: string
        - in: formData
          name: redirectUri
          description: Determines where the API server redirects the user after the user completes the authorisation flow
          required: true
          type: string
        - in: formData
          name: grantType
          description: As defined in the OAuth 2.0 specification, this field's value must be set to authorization_code.
          required: true
          type: string
      responses:
        200:
          description: OK
components:
  schemas: { }