# Database
DB_URL=jdbc:postgresql://<host>:<port>/<db_name>
DB_USER=
DB_PASSWORD=
DB_DRIVER=org.postgresql.Driver

ADMIN_USER_EMAIL=
ADMIN_USER_PASSWORD=

# OAuth
CLIENT_SECRET=
CLIENT_ID=847412509013-ltiehjgmeaquqnnjhkr84vocmbgk4aof.apps.googleusercontent.com

TOKEN_ENDPOINT=https://oauth2.googleapis.com/token
REDIRECT_URI=https://crystalcall.daimones.xyz/google-callback

TEST_DB_URL="jdbc:postgresql://<host>:<port>/<db_name>